body {
    font-family: 'Archivo', sans-serif;
}
.section {
    padding: 1.5rem;
}
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #225378;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidenav a, .sidenav p {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ACF0F2;
    display: block;
}

.sidenav a:hover {
    color: #F3FFE2;
}

.main {
    margin-left: 250px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.sidenav hr {
    width: 80%;
    background-color:#EB7F00;
}
.hero.is-primary {
    background-color: #1695A3;
}
.table thead th {
    color: #225378;
    border-color: #EB7F00;
}
.contact-button {
    float: right;
    margin-top: 1em;
}
.label {
    color: #225378;
    margin: .5em 0 .5em 0;
}